---
---

@import "{{ site.theme }}";

body {
  color: #222;
}

a:hover {
  text-decoration: underline;
}

table {
  border: none;
  margin-bottom: 1em;
}

td, th {
  padding: 1px 5px;
}

.title-link:hover {
  text-decoration: none;
}

header .site-title {
  font-family: 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: bold;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 5em;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
  text-shadow:
      -1px -1px 0 #000,
       0   -1px 0 #000,
       1px -1px 0 #000,
       1px  0   0 #000,
       1px  1px 0 #000,
       0    1px 0 #000,
      -1px  1px 0 #000,
      -1px  0   0 #000;
}

header h2 {
  color: #ecf8ff;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  width: 100%;
}

.pagination {
  text-align: center;
}

.next,
.previous {
  font-weight: bold;
  margin: 0 1em;
}

.disabled {
  color: #828282;
}

ul.post-list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }

  li:first-of-type h2 {
    margin-top: 0;
  }
}

.post-meta {
  color: #999;
  margin: 0 0 .5em;
  font-style: italic;
}

.thumb-wrapper {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  span {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: none;
    background: transparent url(/assets/images/play-button.png) no-repeat;
    background-position: center;
    opacity: 90%;
  }

  span:hover {
    opacity: 100%;
  }
}

#main-content {
  .post-content {
    ul, ol {
      padding-left: 40px;
    }
    ul li {
      list-style: disc;
    }
    ol li {
      list-style: decimal;
    }
  }

  h3:before {
    content: '>';
    margin-left: -1em;
  }

  h2 {
    font-family: 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, serif;
  }

  h2:before {
    content: '>';
  }

  h1 {
    font-family: 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, serif;
    line-height: 1.1em;
    margin-bottom: .5em;
    font-size: 2.2em;
    text-indent: 0;
  }

  h1:before {
    content: '>';
  }
}

.youtube-subscribe {
  margin-top: 10px;
}

.youtube-subscribe,
.book-cover {
  max-width: 225px;
}

aside#sidebar {
  font-size: 14px;

  p {
    margin: 0 0 40px;
  }

  p.repo-owner,
  p.repo-owner a {
    font-weight: normal;
  }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
  img {
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  img {
    height: auto;
  }

  header .site-title {
    font-size: 3em;
  }

  header h2 {
    font-size: 1.5em;
  }

  #main-content h2,
  #main-content h3 {
    text-indent: 0;
  }

  #main-content h2:before {
    content: none;
  }

  #main-content h3:before {
    content: none;
    margin-left: -1em;
  }

  aside#sidebar {
    text-align: center;
  }
}
