<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}" class="title-link">
          {% if page.id == 'index' %}
          <h1 class="site-title">{{ site.title | default: site.github.repository_name }}</h1>
          {% else %}
          <div class="site-title">{{ site.title | default: site.github.repository_name }}</div>
          {% endif %}
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        {% include sidebar.html %}
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>